<div class="jumbotron home-banner">
    <table border="0">
        <tr>
            <td width="75%" rowspan="2">
                <h1>{{title}}</h1>
                <p class="lead">A subscription based online business system for Bookkeepers.</p>
            </td>           
        </tr>
        <tr>
            <td width="25%">
                <div align="right">
                    <img style="margin-left:10px;" src="/images/Hopstarter-Purple-Monsters-Alien-satisfied.ico" width="128">
                </div>
            </td>
        </tr>
    </table>
    <p><a href="/" class="btn btn-primary btn-lg">Free trial &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What?</h2>
        <p>
            Purevision is the only system that is tailored to Bookkeepers.
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why?</h2>
        <p>Purevision is the system you've been longing for because it is so simple and yet effective.  Organize your contact list and meetings, and keep everyone in the loop and accountable to act.</p>
        <p><a class="btn btn-default" href="/">Ask a question &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How?</h2>
        <p>Purevision can help you today.  Simply <a href="/">register</a> for your trial.</p>
        <p><a class="btn btn-default" href="/">Register &raquo;</a></p>
    </div>
</div>